body {
    font-family: Calibri, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
}

.form-group {
    background: rgba(255, 255, 255, 0.85);
    padding: 43px;
    border-radius: 20px;
    width: 450px;
    margin: 30px auto;
}

form {
    width: 100%;
}

.field {
    display: grid;
    grid-template-columns: 150px 200px auto;
    align-items: center;
    margin-bottom: 15px;
}

.field label {
    font-weight: bold;
}

.field input[type="text"],
.field input[type="password"],
.field input[type="email"],
.field input[type="date"],
.field input[type="file"] {
    width: 200px;
    padding: 5px;
}

.msg {
    margin-left: 20px;
    max-width: 150px;
    font-size: 12px;
    word-wrap: break-word;
}

.hint {
    color: blue;
}

.error {
    color: red;
}

.success {
    color: green;
}

fieldset.field {
    display: block;
    width: 100%;
    padding: 10px;
}

fieldset legend {
    font-weight: bold;
}

fieldset input[type="checkbox"] {
    margin-right: 5px;
}

fieldset .msg {
    display: block;
    margin-top: 5px;
}
button {
    padding: 8px 16px;
    margin-right: 10px;
    margin-top: 10px;
    background-color: rgb(175, 241, 241);
    border: 1px solid #333;
    cursor: pointer;
}

button:hover {
    background-color: rgb(150, 220, 220);
}
.radio-group {
    display: flex;
    gap: 12px;
    align-items: center;
}
